= render 'layouts/filterbar'
.container
  #food-card.row
    / The card is generated in JS
  .row
    = render 'products/product_view'
= javascript_tag do
  $(document).ready(function() {
  initPage();
  });
