.gravatar {
  margin-right: 10px;
  border: 3px solid #505050ab;
  border-radius: 50%;
  width: 100px;
  height: auto;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid black;
  }
}
