.container
  .row
    .title-bar
      %h4 Product List
  %table.table
    %thead
      %tr
        %th{scope: "col"} ID
        %th{:scope => "col"} Title
        %th{:scope => "col"} Description
        %th{:scope => "col"} Price
        %th{:scope => "col"} Options
    %tbody
      = render 'product_table_view'
.container
  = link_to 'Back', root_path
  = link_to 'New', products_new_path
