<div class="container">
  <hr>
    <footer>
      <p>&copy; Bogdan Cadar - 2018</p>

      <!--Modal condainer-->
      <div class="container">
        <!-- Button trigger modal -->
        <button id="mock-btn" type="button" class="btn btn-warning orange-btn btn-sm">
          Mocked Food
        </button>

        <button type="button" class="btn btn-warning orange-btn btn-sm" data-toggle="modal" data-target=".bd-example-modal-lg">
          Add food
        </button>

        <!-- Modal for adding food-->
        <div class="modal fade bd-example-modal-lg" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add food:</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="container">
                  <div class="col-sm">
                    <form id="add-food-form">
                      <div class="form-group">
                        <label>ID:</label>
                        <input id="input-id" class="form-control" type="number" placeholder="0" required>
                      </div>
                      <div class="form-group">
                        <label>Name:</label>
                        <input id="input-name" class="form-control" type="text" placeholder="Burger" required>
                      </div>
                      <div class="form-group">
                        <label>Category:</label>
                        <input id="input-category" class="form-control" type="text" placeholder="Main Course" required>
                      </div>
                      <div class="form-group">
                        <label>Price:</label>
                        <input id="input-price" class="form-control" type="number" placeholder="10" required>
                      </div>
                      <div class="form-group">
                        <label>Photo Link:</label>
                        <input id="input-photo" class="form-control" type="text" placeholder="https://photo.com/9e8f...">
                      </div>
                      <button id="button-submit" type="submit" class="btn orange-btn">Add</button>
                    </form>
                  </div>
                </div>
              </div>
              <br>
              <div class="container">
                <div class="modal-body">
                  <table class="table">
                    <thead>
                      <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Name</th>
                        <th scope="col">Category</th>
                        <th scope="col">Price</th>
                        <th scope="col">Photo</th>
                        <th scope="col"><i class="fas fa-times"></i></th>
                      </tr>
                    </thead>
                    <tbody class="food-list-view">
                      <!--table content-->
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </div>